[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tyler/20]
row=2
col=2

[/home/tyler/onedrive]
row=11
col=0

[/home/tyler/Builds]
row=2
col=0

[/home/tyler/rmlint.json]
row=10
col=2

[/home/tyler/cv_debug.log]
row=4
col=2

[/home/tyler/steamvr]
row=5
col=1

[/home/tyler/PlayOnLinux's virtual drives]
row=1
col=1

[/home/tyler/godot]
row=7
col=0

[/home/tyler/Applications]
row=0
col=3

[/home/tyler/steam.txt]
row=11
col=2

[/home/tyler/pycharm-projects]
row=3
col=1

[/home/tyler/pico-8]
row=12
col=0

[/home/tyler/snap]
row=4
col=1

[/home/tyler/ASIO4ALL v2 Instruction Manual.lnk]
row=3
col=2

[/home/tyler/wine-dng]
row=1
col=2

[/home/tyler/FL Studio 20.lnk]
row=5
col=2

[/home/tyler/nohup.out]
row=9
col=2

[/home/tyler/TODO]
row=12
col=2

[/home/tyler/ksnip_20220507-133914.png]
row=7
col=2

[/home/tyler/projects]
row=2
col=1

[/home/tyler/Downloads]
row=5
col=0

[/home/tyler/ksnip_20220520-012931.png]
row=8
col=2

[/home/tyler/templates]
row=6
col=1

[/home/tyler/tiny_logs]
row=8
col=1

[/home/tyler/Pictures]
row=0
col=1

[/home/tyler/Desktop]
row=3
col=0

[/home/tyler/googledrive]
row=8
col=0

[/home/tyler/titles]
row=9
col=1

[/home/tyler/voxatron]
row=0
col=2

[/home/tyler/timeshift]
row=7
col=1

[/home/tyler/virtual_machines]
row=11
col=1

[/home/tyler/Image-Line]
row=9
col=0

[/home/tyler/Videos]
row=10
col=1

[/home/tyler/ksnip_20220331-203152.png]
row=6
col=2

[/home/tyler/vms]
row=12
col=1

[/home/tyler/go]
row=6
col=0

[/home/tyler/Documents]
row=4
col=0

[/home/tyler/Music]
row=10
col=0

[/]
row=0
col=0

[/home/tyler]
row=1
col=0

